#body{
    margin-top: 40px !important;
    color: #1c586e;
    text-align: justify;
}
h1{
    color: #123743;
}
h2{
    color: #123743;
}
h3{
    color: #123743;
}
h4{
    color: #123743;
}
h5{
    color: #123743;
}
h6{
    color: #123743;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
  
.grid-cell {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    aspect-ratio: 1/1;
    border-top: 1px solid #123743;
    border-left: 1px solid #123743;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-right {
    border-right: 1px solid #123743;
}
.border-down {
    border-bottom: 1px solid #123743;
}


.navbar {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  .navbar .logo {
    display: flex;
    align-items: center;
  }

  .navbar .logo a {
    color: #000;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
  }

  .navbar .menu {
    display: flex;
    align-items: center;
  }

  .navbar .menu a {
    color: #000;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
  }

  .navbar .menu-icon {
    display: none;
    cursor: pointer;
  }

@media screen and (max-width: 576px) {
    .row.body {
        display: flex;
        flex-direction: column;
    }
    
    .row.body .grid-section {
        order: -1;
    }
    .navbar .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
    }

    .navbar .menu.show {
        display: flex;
    }

    .navbar .menu a {
        margin: 5px 0;
    }

    .navbar .menu-icon {
        display: block;
    }
}

.menu-item {
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #123743;
}
.menu-item:hover {
    background-color: #b2cbd4;
    color: #123743 !important; 
}
.active {
    background-color: #123743;
    color: white !important; 
}
.submenu-active {
    background-color: #1c586e;
    color: white !important; 
}
.navbar .menu .menu-item {
    position: relative; /* Needed for submenu positioning */
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff; /* Submenu background color */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Optional: adds a shadow */
    z-index: 200;
}

.submenu a {
    display: block;
    color: #000;
    padding: 10px;
    text-decoration: none;
}

.submenu a:hover {
    background-color: #f1f1f1;
}

.menu-item:hover .submenu {
    display: block; /* Show submenu on hover */
}


.project-preview {
    border: 1px solid #123743;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#progetti-pubblici-preview {
    background-image: url('/images/progetti-pubblici/pubblici-esempio-preview.png');
}
#progetti-privati-preview{
    background-image: url('/images/progetti-privati/privati-esempio-preview.png');
}
#gare-preview{
    background-image: url('/images/gare/gara-esempio-preview.png');
}

.content-section {
    padding-right: 40px !important;
}